<ion-header>
  <ion-toolbar>
    <ion-title>Perfil de {{ user?.nombre || 'Nombre no disponible' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ProfilePicture">
    <ion-avatar>
      <img [src]="profileImage || 'assets/default-profile.png'" alt="Imagen de perfil" />
    </ion-avatar>
    <ion-button class="btnCambioPerfil" shape="round" expand="block" (click)="changeProfilePicture()">
      <ion-icon class="btnEditFotoPerfil" name="create"></ion-icon>
    </ion-button>
  </div>

  <ion-list lines="full">
    <!-- Opciones de configuración -->
    <ion-item-divider>Configuración</ion-item-divider>
    <ion-item>
      <ion-label>Gestionar eventos</ion-label>
      <ion-icon class="ArrowSettingsProfile" slot="end" name="chevron-forward-outline" (click)="onEventManagementPressed()"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>Cambiar contraseña</ion-label>
      <ion-icon class="ArrowSettingsProfile" slot="end" name="chevron-forward-outline" (click)="onUpdatePasswordPressed()"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>Eliminar cuenta</ion-label>
      <ion-icon class="ArrowSettingsProfile" slot="end" name="chevron-forward-outline" (click)="onDeleteAccountPressed()"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
