.map-container{
    margin-top: 14vh;
  }

  .map-container.visible{
    opacity: 1;
  }

.floating-button {
  position: absolute; 
  bottom: 20px; 
  right: 80%; 
  z-index: 1000;
  border-radius: 50%;
  --background: #BB271A;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.map-container {
  height: 100%;
}

#map {
  height: 85%;
  width: 100%;
}
