<ion-content [fullscreen]="true">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique ullam soluta itaque dolore 
  eligendi placeat aliquam fuga dolores labore. Nobis ipsam fugiat earum vitae, 
  omnis quisquam recusandae dolores voluptatum facilis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique ullam soluta itaque dolore 
  eligendi placeat aliquam fuga dolores labore. Nobis ipsam fugiat earum vitae, 
  omnis quisquam recusandae dolores voluptatum facilis?

  VER COMO ARREGLAR QUE SALGA ABAJO DE LA BARRA PQ ESTA AATRAS
  maps xd
</ion-content>
