<ion-content>
  <div class="card-container">
    <ion-card (click)="onEventButtonPressed()">
      <div class="img-container">
        <img alt="foto evento" src="../../assets/img/canto.png" />
      </div>
      <ion-card-header>
        <ion-card-title>Canto a la Vida - Homenaje Sinfónico a los tres Íconos del Folklore Chileno</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        06 de Septiembre 2024 a las 20:00
      </ion-card-content>
    </ion-card>

    <ion-card (click)="onEventButtonPressed()">
      <div class="img-container">
        <img alt="foto evento" src="../../assets/img/negra_ester.jpg" />
      </div> <ion-card-header>
        <ion-card-title>La Negra Ester en el Teatro Regional Cervantes de Valdivia</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        10 de Septiembre 2024 a las 19:00
      </ion-card-content>
    </ion-card>

    <ion-card (click)="onEventButtonPressed()">
      <div class="img-container">
        <img alt="foto evento" src="../../assets/img/canto.png" />
      </div>
      <ion-card-header>
        <ion-card-title>Canto a la Vida - Homenaje Sinfónico a los tres Íconos del Folklore Chileno</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        06 de Septiembre 2024 a las 20:00
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>