<ion-content>
  <div style="position: relative;">
    <ion-button shape="round" (click)="onBackButtonPressed()">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <img *ngIf="event?.imagen" [src]="event?.imagen" alt="{{ event?.nombre }}" style="width: 100%;" />
  </div>

  <ion-card-header>
    <ion-card-title style="font-size: 18px;">
      {{ event?.nombre }}
    </ion-card-title>
  </ion-card-header>
  
  <ion-card-content>
    <ion-item>
      <ion-icon class="event-icon" name="location-outline" slot="start"></ion-icon>
      <ion-label>{{ event?.ubicacion }}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon class="event-icon" name="calendar-outline" slot="start"></ion-icon>
      <ion-label>{{ event?.fecha | date:'dd MMMM yyyy, HH:mm' }}</ion-label>
    </ion-item>

    <ion-label>{{ event?.descripcion }}</ion-label>
  </ion-card-content>
</ion-content>
