<ion-content>
  <div style="position: relative;">
    <ion-button shape="round" (click)="onBackButtonPressed()">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>

        <img src="../../assets/img/canto.png" alt="Canto a la Vida - Homenaje Sinfónico" style="width: 100%;" />
  </div>


  <ion-card-header>
    <ion-card-title style="font-size: 18px;">Canto a la Vida - Homenaje Sinfónico a los tres íconos del Folklore Chileno</ion-card-title>
  </ion-card-header>
  
  <ion-card-content>
    <ion-item>
      <ion-icon class="event-icon" name="location-outline" slot="start"></ion-icon>
      <ion-label>Teatro Centenario Gregorio Cordovez N° 391, La Serena.</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon class="event-icon" name="calendar-outline" slot="start"></ion-icon>
      <ion-label>06 de Septiembre 2024</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon class="event-icon" name="time-outline" slot="start"></ion-icon>
      <ion-label>17:00 a 20:00 hrs</ion-label>
    </ion-item>
  </ion-card-content>