<ion-content>
  <div style="position: relative;">
    <!-- Botón de retroceso con círculo relleno -->
    <ion-button fill="solid" shape="round" style="position: absolute; top: 10px; left: 10px; z-index: 10; width: 40px; height: 40px; border-radius: 50%;" color="primary">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>

    <!-- Imagen del evento -->
    <img src="../../assets/img/canto.png" alt="Canto a la Vida - Homenaje Sinfónico" style="width: 100%;" />
  </div>

  <!-- Contenido debajo de la imagen -->
  <ion-card-header>
    <ion-card-title>Canto a la Vida - Homenaje Sinfónico a los tres íconos del Folklore Chileno</ion-card-title>
  </ion-card-header>
  
  <ion-card-content>
    <ion-icon name="location-outline"></ion-icon>
    <p><strong>Teatro Centenario</strong></p>
    <p>Gregorio Cordovez Nº 391, La Serena. IV Región de Coquimbo, La Serena</p>
    
    <ion-item>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label>06 de Septiembre 2024</ion-label></ion-item>

    <ion-item>
      <ion-icon name="time-outline" slot="start"></ion-icon>
      <ion-label>17:00 a 20:00 hrs</ion-label>
    </ion-item>
  </ion-card-content>