<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <div style="width: 80vw; margin-right:10% ; margin-left: 10%;">
          <ion-searchbar></ion-searchbar>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="pin">
      <ion-icon name="pin"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="add">
      <ion-icon name="add"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>