<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <div style="width: 80vw; margin-right:10% ; margin-left: 10%;">
          <ion-searchbar placeholder="Buscar"></ion-searchbar>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="maps" >
        <ion-icon name="location-outline"></ion-icon>
        Map
      </ion-tab-button>
      <ion-tab-button tab="addEvent">
        <ion-icon name="duplicate-outline"></ion-icon>
        Add
      </ion-tab-button>
      <ion-tab-button tab="profile" >
        <ion-icon name="person-outline"></ion-icon>
        Profile
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
  Home xd
</ion-content>

