ion-header{
    background-color: #BB271A;
    height: 15%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
ion-img{
    height: 100%;
}

.input-container{
    margin-top: 30%;
    margin-left: 20%;
    margin-right: 20%;
}

ion-button{
    --background: #191013;
    --background-hover: #191013;
    --background-activated: #39262C;
    --background-focused: #39262C;

    --border-radius:30px;

    --padding-top: 10px;
    --padding-bottom: 10px;

    margin-top: 15%;
    margin-left: 20%;
    margin-right: 20%;

}

p{
    padding-top: 5vh;
    text-align: center;
    color: #191013;
}

.ProfilePicture {
    margin-top: 10%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-avatar {
    width: 100px;
    height: 100px;
    border: 2px solid white;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 20%;
    margin-top: 10%;
    position: relative;
    //Para que el botón se coloque relativo al avatar 
    display: inline-block;
}
.btnCambioPerfil{
    color: violet;
    z-index: 1;
    border: 1px solid white;
    border-radius: 50px;
    position: absolute;
    transform: translate(70%, 70%);
    
}

.btnEditFotoPerfil{
    color:white;
    border-radius: 50px;
    
}

